/*-----base.htm*/

body {
    background-color: #e4e4c3;
    overflow-x: hidden;
}

header {
    height: 15vh;
    background-color: #3c4244;
}

footer {
    height: 15vh;
    background-color: #76ad73;
}

a {
    text-decoration: none;
    color: #000000;
}

.white-text {
    color: #fafafa;
}

.no-padding {
    padding: 0;
}

.padding-on-all-sides{
    padding:30px;
}

/*
.right {
    position: relative;
    left: 80%;
}
*/

a:hover {
    color: #fafafa;
    text-decoration: none;
    border-bottom: 3px solid;
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

}

.bottom {
    position: absolute;
    bottom: 0;
}

.vertical-align-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-text {
    text-align: center;
    padding: 10px
}

.header-text h1 {
    text-decoration: none;
    color: #fafafa;
    font-size: 150%;
}

@media(min-width:992px) {
    .header-text h1 {
        font-size: 2em;
    }


    .header-text a:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 33vw;
        right: 33vw;
        border-top: 3px solid #fafafa;
        border-bottom: 3px solid #fafafa;
        transform: scale(1);
        transform-origin: left;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }

    .header-text a:hover::before {
        transform: scale(0, 1);
        transform-origin: left;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }
}


.header-text a::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30vw;
    right: 30vw;
    border-left: 3px solid #fafafa;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

}

.header-text a:hover::after {
    transform: scale(1);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.top_bottom_box {
    border-top: 3px solid;
    border-bottom: 3px solid;
}

@media(min-width:992px) {
    .nav-row {
        position: absolute;
        top: 0%;
    }
}

.nav-link {
    color: #fafafa;
    text-decoration: none;
    white-space: nowrap;

}

/*bace end*/

/*jumbotron*/

.jumbotron-background {
    height: 100vh;
    max-height: 100vw;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-image-1 {
    background-image: url("../images/homepageimage.png");
}

.jumbo-image-2 {
    background-image: url("../images/jumbo2.jpg");
}

.jumbo-image-3 {
    background-image: url("../images/jumbo3.jpg");
}

.jumbo-image-4 {
    background-image: url("../images/jumbo4.jpg");
}

.jumbo-image-5 {
    background-image: url("../images/jumbo5.png");
}

.jumbo {
    position: relative;
    height: 100vh;
    max-height: 100vw;
    width: 100vw;
    background-color: #293c28d9;
    color: #fafafa;
    border-radius: 0;
}

.jumbo h1 {
    text-align: center;
    font-size: 2em;
}

@media(min-width:992px) {
    .jumbo h1 {
        font-size: 4em;
        padding: 50px;
    }
}

.jumbo p {
    text-align: center;
}

.jumbotron-text {
    font-size: 1.5em;
    padding-top: 30px;
    padding: 10px;
}

.jumbotron-search {
    left: 50%;
    transform: translateX(-50%);
}

.sub-heading {
    padding: 50px;
}

/*form/button*/

.form-control-lg {
    margin-bottom: 10px;
}

.btn-primary {
    margin: 30px 0px;
    color: #fff;
    background-color: #3c4244;
    border-color: #fafafa;
}

.btn-primary:hover {
    background-color: #161915e0;
    border-color: #fafafa;
}

/*recipe*/
.recipe-item {
    height: 300px;
    border: 2px solid #585555;
    background-color: #f58c7b;
    color: #0c0c0c;
    margin: 100px auto 100px auto;
    text-align: center;
}

.grey {
    background-color: #585555;
    color: #fafafa;
}

.grey h2 {
    position: relative;
    top: 150px;
    transform: translatey(-50%);
    font-size: 40px;
    padding-bottom: 10px;
}

.hvr-sweep-to-bottom{
    
}

.recipe-heading {
    font-size: 2em;
    text-transform: capitalize;
    border-bottom: 1px solid;
}