{% extends 'base.html'%} {% block content %}
<div class="row no-gutters justift-content-center">
    <div class="container-fluid jumbotron-background jumbo-image-2">
        <div class="jumbo">
            <p class="jumbotron-text">Enter a recipe name</p>
            <hr class="my-4">
            <form action="{{ url_for('insertrecipes') }}" method="POST"
                class="search jumbotron-search col-xs-12 col-md-8" id="insertrecipes">
                <input name="recipe_name" id="recipe_name_input" class="form-control form-control-lg" type="text"
                    placeholder="Recipe Name" required>
                <textarea name="recipe_description" id="recipe_description" class="form-control form-control-lg"
                    type="text" rows="3"
                    placeholder='Recipe description e.g. "A Cajun-inspired rice pot recipe with spicy Spanish sausage, sweet peppers and tomatoes"'
                    required></textarea>
                    <div class="row">
                        <div class="input-field col s12">
                            <select class="form-control form-control-lg" id="cuisine" name="cuisine_name">
                                <option value="" disabled selected>Add cuisine</option>
                                {% for cuisinetype in cuisine %}
                                <option value="{{cuisinetype.cuisine_name}}">{{cuisinetype.cuisine_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <a class="white-text"href="{{url_for('add_cuisine')}}">Add new cuisine type</a>
                    </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add Recipes</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}