{% extends 'base.html'%} {% block content %}
<div class="row no-gutters justift-content-center">
    <div class="container-fluid jumbotron-background jumbo-image-2">
        <div class="jumbo">
            <p class="jumbotron-text">This Cuisine already exists. Please enter a new cuisine</p>
            <hr class="my-4">
            <form action="{{ url_for('insertcuisine') }}" method="POST"
                class="search jumbotron-search col-xs-12 col-md-8" id="insertcuisine">
                <input name="cuisine_name" id="cuisine_name" class="form-control form-control-lg" type="text"
                    placeholder="cuisine type" required>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add Cuisine</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}