{% extends 'base.html'%} {% block content %}
<div class="row no-gutters justift-content-center">
    <div class="container-fluid jumbotron-background">
        <div class="jumbo">
            <p class="jumbotron-text">Enter a recipe name</p>
            <hr class="my-4">
            <form action="{{ url_for('insertrecipes') }}" method="POST" class="search jumbotron-search col-xs-12 col-md-8" id="insertrecipes">
                <input name="recipe_name" id="recipe_name_input" class="form-control form-control-lg" type="text"
                    placeholder="Recipe Name" required>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add Recipes Name</button>
            </form>
            </form>
        </div>
    </div>
</div>
{% endblock %}