{% extends 'base.html'%} {% block content %}
<div class="row no-gutters justift-content-center">
    <div class="container-fluid jumbotron-background jumbo-image-5">
        <div class="jumbo">
            <h1 class="display-4">{{ this_recipe.recipe_name }}</h1>
            <p>{{this_recipe.recipe_description}}</p>
            <hr class="my-4">
            <form action="{{ url_for('allergy',this_recipe_name = this_recipe.recipe_name) }}" method="POST"
                class="search jumbotron-search col-xs-12 col-md-8" id="allergen">

                <label for="allergy">add allergen</label>
                <input name="allergen" id="allergen" class="form-control" type="text"></input>

                <button type="submit" class="btn btn-primary btn-lg btn-block">Add allergen</button>
            </form>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p class="recipe-heading">Methord</p>
                        {% for step in this_recipe.method %}
                        {% if step%}
                        <div class="row">
                            <div class="ingredient-line"> {{ step }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <p class="recipe-heading">Allergen</p>
                        {% for allergy in this_recipe.allergen %}
                        {% if allergy %}
                        <div class="row">
                            <div class="col-4 ingredient-line"> {{ allergy }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <p class="recipe-heading">ingredients</p>
                <div class="row">
                    <div class="col-6">
                        {% for ingredients in this_recipe.ingredient %}
                        <div class="row">
                            <div class="col-4 ingredient-line">{{ ingredients }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-6">
                        {% for weights in this_recipe.weight %}
                        <div class="row">
                            <div class="col-4 ingredient-line"> {{ weights }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="container">
                    <a class="jumbotron-text white-text" href="{{url_for('get_recipes')}}">Done</a>
                    <a class="jumbotron-text white-text right"
                        href="{{url_for('cancel', recipe_id=this_recipe._id)}}">cancel</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}