{% extends 'base.html'%} {% block content %}
<div class="row no-gutters justift-content-center">
    <div class="container-fluid jumbotron-background jumbo-image-4">
        <div class="jumbo">
            <p class="warning padding-15">This name is already taken, please chosse a diffent name</p>
            <form action="{{ url_for('update_recipe', recipe_id=this_recipe._id) }}" method="POST"
                class="search jumbotron-search col-xs-12 col-md-8" id="insertrecipes">
                <input name="recipe_name" id="recipe_name_input" class="form-control form-control-lg" type="text"
                    placeholder="{{this_recipe.recipe_name}}" required>
                <textarea name="recipe_description" id="recipe_description" class="form-control form-control-lg"
                    type="text" rows="3" placeholder="{{this_recipe.recipe_description}}" required></textarea>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Update Name</button>
            </form>
            <hr class="my-4">
            <div class="container">
                <p class="recipe-heading">ingredients</p>
                <div class="row">
                    <div class="col-6">
                        {% for ingredients in this_recipe.ingredient %}
                        <div class="row">
                            <div class="col-4 ingredient-line">{{ ingredients }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-6">
                        {% for weights in this_recipe.weight %}
                        <div class="row">
                            <div class="col-4 ingredient-line"> {{ weights }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="padding-15 white-text"
                                href="{{url_for('edit_ingredients', recipe_id=this_recipe._id)}}">Update
                                ingredients</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p class="recipe-heading">Methord</p>
                        {% for step in this_recipe.method %}
                        {% if step%}
                        <div class="row">
                            <div class="col-md-8 ingredient-line"> {{ step }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="row">
                            <div class="col">
                                <a class="white-text"
                                    href="{{url_for('edit_method', recipe_id=this_recipe._id)}}">Update
                                    Method</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="recipe-heading">Allergen</p>
                        {% for allergy in this_recipe.allergen %}
                        {% if allergy %}
                        <div class="row">
                            <div class="col-4 ingredient-line"> {{ allergy }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="row">
                            <div class="col">
                                <a class="white-text"
                                    href="{{url_for('edit_allergen', recipe_id=this_recipe._id)}}">Update
                                    allergy
                                    advice</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row justify-content-center ">
                <div class="container no-padding">
                    <a class="jumbotron-text white-text right"
                        href="{{url_for('cancel', recipe_id=this_recipe._id) }}">Delete </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}