{% extends 'base.html'%} {% block content %}
<div class="row no-gutters justift-content-center">
    <div class="container-fluid jumbotron-background">
        <div class="jumbo">
            <h1 class="display-4">Welcome to a Bad Cookbook</h1>
            <p>Get started and search for a recepie</p>
            <hr class="my-4">
            <form class="search jumbotron-search col-xs-12 col-md-8" action="{{url_for('search_recipe_name')}}" method="POST"
                id="search_recipe_names">
                <input name="search_recipe_name" id="search_recipe_name" class="form-control form-control-lg" type="text"
                    placeholder="search recipe name" required>
                <button type="submit" class="btn btn-primary">search</button>
                <a href="{{url_for('search')}}">More search options</a>
            </form>
        </div>
    </div>
</div>




{% for recipe in recipe_find %}
<div class="row recipe-row">
    <div col-md-4>
        <a href="{{url_for('one_recipe', recipe_id=recipe._id) }}" class="recipe-heading">
            {{ recipe.recipe_name }}
        </a>
    </div>
</div>
<div class="row recipe-row">
    <div class="col-md-3">
        {% for ingredients in recipe.ingredient %}
        <div class="row ingredient-line">{{loop.index}} {{ ingredients }}</div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        {% for weights in recipe.weight %}
        <div class="row ingredient-line"> {{ weights }}</div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        {% for methods in recipe.method %}
        <div class="row ingredient-line"> {{ methods }}</div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-8">{{ recipe.allergens }}</div>
</div>
<div class="row recipe-row">
    <div class="col-md-2"><button href="{{url_for('edit', recipe_id=recipe._id) }}">Edit  </button></div>
    <div class="col-md-2"><button href="{{url_for('cancel', recipe_id=recipe._id) }}">Delete  </button></div>
</div>
{% endfor %}
{% endblock %}