{% extends 'base.html'%} {% block content %}
<div class="row no-gutters justift-content-center">
    <div class="container-fluid jumbotron-background jumbo-image-1">
        <div class="jumbo">
            <h1 class="display-4">Welcome to a Bad Cookbook</h1>
            <p>Get started and search for a recepie</p>
            <hr class="my-4">          .
                <form class="search jumbotron-search col-xs-12 col-md-8 name-form" action="{{url_for('search_recipe_name')}}"
                    method="POST" id="search_recipe_names">
                    <input name="search_recipe_name" id="search_recipe_name" class="form-control form-control-lg"
                        type="text" placeholder="search recipe name" required>
                    <button type="submit" class="btn btn-primary">search</button>
                    <div class="row">
                        <a class="white-text jumbotron-text" href="#recent_recipes">See New Recipes</a>
                    </div>
                </form>
                <form class="search jumbotron-search col-xs-12 col-md-8 allergen-form" action="{{url_for('search_recipe')}}"
                    method="POST" id="search_recipe">
                    <input name="allergy" id="allergy" class="form-control form-control-lg" type="text"
                        placeholder="search for recipes that without this allergen required">
                    <button type="submit" class="btn btn-primary">search</button>
                    <div class="row">
                        <a class="white-text jumbotron-text" href="#recent_recipes">See New Recipes</a>
                    </div>
                </form>
            <div class="container">
                <div class="row justify-content-center">
                    <a href="#" class="white-text jumbotron-text" id="search-name">Search by name</a>
                    <a href="#" class="white-text jumbotron-text" id="search-Allergens">Search Allergens</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="recent_recipes" class="container-fluid">
    <div class="row no-padding">
        <div class="col-xs-12 col-md-3 recipe-item grey">
            <h2 class="top_bottom_box">New Recipes</h2>
        </div>
        {% for recipe in recipe_find %}
        <div class="col-md-3 col-xs-12 recipe-item">
            <a href="{{url_for('one_recipe', recipe_id=recipe._id) }}" class="recipe-heading">
                {{ recipe.recipe_name }}
            </a>
            <div class="row padding-on-all-sides">
                <div class="col-md-12 ">
                    <div class="row"> {{ recipe.recipe_description }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><a class="white-text" href="{{url_for('edit', recipe_id=recipe._id) }}">Edit </a></div>
                <div class="col-md-2 white-text"><a class="white-text" href="{{url_for('cancel', recipe_id=recipe._id) }}">Delete </a></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}